<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/produtos" method="post">
        <div>
            <label for="titulo">Titulo</label>
            <input id="titulo" name="titulo" class="titulo" type="text" placeholder="coloque o título"/>
        </div>
        <div>
            <label for="preco">Preço</label>
            <input id="preco" name="preco" class="preco" type="text" placeholder="150.0"/>
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea id="descricao" name="descricao" cols="10" rows="10" placeholder="fale sobre o livro"></textarea>
        </div>
        <input type="submit" value="Gravar"/>
    </form>
</body>
</html>
